<div class='mt-4'>
    <form>
        <div class='form-group'>
            <label for='search-input'>Từ khóa</label>
            <select name='field' id='search-field'>
                <option value='ma'>mã</option>
                <option value='ten'>tên</option>
                <option value='tuoi'>tuoi</option>
                <option value='quequan'>quequan</option>
            </select>
            <input
                type='type'
                name='q'
                class='form-control'
                id='search-input'
                aria-describedby='emailHelp'
                placeholder='Nhập từ khóa'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>